@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf6ef;
  --foreground: #4c4c4c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
